@media only screen and (max-width: 600px) {
    .container {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../constants/assets/car.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 1;
    }
    .textStyle {
      color: white;
      font-size: 20px;
    
    }
    .textStyle:hover {
        color: #5F9EA0
    } 
}

@media only screen and (min-width: 600px) {
    .container {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../constants/assets/car.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 1;
    }
    .textStyle {
      color: white;
      font-size: 30px;
    
    }
    .textStyle:hover {
        color: #5F9EA0
    } 


}

 @media only screen and (min-width: 768px) {
    .container {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../constants/assets/car.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 1;
    }
    .textStyle {
      color: white;
      font-size: 60px;
    
    }
    .textStyle:hover {
        color: #5F9EA0
    }  
}

@media only screen and (min-width: 1000px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../constants/assets/car.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 1;
    }
    .textStyle {
      color: white;
      font-size: 60px;
    
    }
    .textStyle:hover {
        color: #5F9EA0
    }  
}
